<center>
    <div style="margin-top:200px;margin-bottom:20px;">
    <a href="http://illumin4te.herokuapp.com/"><p class="text">An <span><img src="http://illumin4te.herokuapp.com/ILLUMIN4TE_512.png" style="height:100px;width:100px;"/></span> project.</p></a>
</div>
</center>