<style>
@import url('https://fonts.googleapis.com/css?family=Roboto');
  body{
    background-color:#f7f7f7;
    font-family: "Roboto", sans-serif;
    font-size:16px;
    letter-spacing:.1px;
  }
  
  .div{
    width:50%;
    margin-left:20%;
    background-color:#fff;
    padding:40px;
  }
  
  p{
    line-height:26px;
  }
</style>


  <div class="div">
    <center>
    <%= image_tag '/512_Badge.png', :style => "height:100px;margin-bottom:10px;" %>
    <h1>Account Reinstated</h1><br>
</center>
<p>
  Dear <%= @user.first_name %>,<br><br>Thank you for working with us in order to lift the temporarily disability placed on your account. Your account has been reinstated and you now have full access to the site and its content. You can find your new payment information <%= link_to 'here', "https://www.my1040academy.com/secure/payment_info" %>.
</p>

<p>
    If you encounter any difficulties in the future, you can let me know directly by replying to this message or directly emailing <b>info@my1040academy.com</b>.
</p>
<br><br>

<p>
  Sincerely,<br>Christopher O'Rear<br>Founder, CEO, 10/40 Entrepreneurship Academy
</p>
  </div>

