<style>
@import url('https://fonts.googleapis.com/css?family=Roboto');
  body{
    background-color:#f7f7f7;
    font-family: "Roboto", sans-serif;
    font-size:16px;
    letter-spacing:.1px;
  }
  
  .div{
    width:50%;
    margin-left:20%;
    background-color:#fff;
    padding:40px;
  }
  
  p{
    line-height:26px;
  }
</style>


  <div class="div">
    <center>
    <%= image_tag '/512_Badge.png', :style => "height:100px;margin-bottom:10px;width:auto;" %>
    <h1 style="font-size:1.5rem">Congratulations!</h1><br>



</center>
<p>
  Dear <%= @user.first_name %>,<br><br>Welcome to 10/40 Entrepreneurship Academy! We are so excited that you have chosen to learn more about the world of small business— you won’t regret it. 
</p>

<p>
  <b>How to Use:</b><br>
This course has been designed to help you build the foundation for a small business. If circumstances prevent you from opening a business over the time you spend in this course, you will get the most from the learning if you still take an actual idea and do the corresponding action points we go through during the videos.
<br><br>
The accompanying worksheets are there to help guide you in taking notes. While the worksheets will reflect the bulk of the lectures, I encourage you to take other notes as well— this will help you establish your own thinking on what stood out to you as you watched.
<br><br>
<em>At times, the information in this course is rapid-fire</em>, meaning that you might need to pause the videos sometimes in order to write down points and thoughts. That is ok— don’t rush through the material. 
<br><br>
To study for the quizzes, go over your notes and the worksheets. <u>You can only take the quizzes once</u>, so make sure you are prepared! 
<br><br>
Although the readings are optional, you will learn more if you complete them. There are many valuable points you will miss if you neglect this aspect of the course. Also, be aware that the books you’ll be reading may not have been written by Christians, and thus, might use words or represent worldviews that are not in line with the beliefs of 10/40 Entrepreneurship Academy. However, I believe these books to be important enough that you should still read through them if you can.<br><br><b>Further Reading:</b><br><ul><li><b>Business for the Glory of God</b> by Wayne Grudem</li><br><li><b>The E-Myth Revisited</b> by Michael Gerber</li></ul>
<br><br>
Finally, unless you received my expressed written consent, the material in this course is intended to only be viewed and used by the single person enrolled on your account. Having multiple users on one account is stealing, and I ask that you respect the effort, time, intellectual property, and finances I have invested in developing this course.
<br><br>
<a href="https://www.my1040academy.com/home">Click here to access your dashboard</a>.<br><br>
If you need any assistance, email <a href="mailto:10/40 Entrepreneurship Academy <info@my1040academy.com>">info@my1040academy.com</a> and we will respond shortly.
</p>

<br>
<p>
  In Christ,<br>Christopher O'Rear, CEO and Founder<br>10/40 Entrepreneurship Academy<br>502-550-7658
</p>
  </div>

