<style>
@import url('https://fonts.googleapis.com/css?family=Roboto');
  body{
    background-color:#f7f7f7;
    font-family: "Roboto", sans-serif;
    font-size:16px;
    letter-spacing:.1px;
  }
  
  .div{
    width:50%;
    margin-left:20%;
    background-color:#fff;
    padding:40px;
  }
  
  p{
    line-height:26px;
  }
</style>


  <div class="div">
    <center>
    <%= image_tag '/512_Badge.png', :style => "height:100px;margin-bottom:10px;" %>
    <h1>It's been two weeks!</h1><br>
</center>
<p>
  Dear <%= @user.first_name %>,<br><br>It has been two weeks since you registered for 10/40 Entrepreneurship Academy! I hope you have found the material to be challenging yet inspiring. 
<br><br>
Have you been able to access the content well? Are you having any issues with the websites? If any questions or comments have arisen, feel free to let us know so we can get back with you. We trust that you are enjoying the content without trouble.
</p>
<br>

<br>

<p>
  In Christ,<br>Christopher O'Rear, CEO and Founder<br>10/40 Entrepreneurship Academy
</p>
  </div>

