<div class="wrapper">
    <div style="text-align: center" class="top-img jumbotron">
    <img src="/256_White.png" style="text-align:center;"/>
    <div class="row" style="margin-top:20px;">
        <div class="col-md-5" style="text-align:right;display:inline-block;">
            <img src="/mac1.png" style="width:400px;"/>
        </div>
        <div class="col-md-6 col-md-offset-1" style="display:inline-block;">
            <h2 style="text-align:left;color:white;text-shadow: 0 1px 5px rgba(0,0,0,0.2);">10/40 Entrepreneurship Academy</h2>
            <h3 style="max-width:500px;text-align:left;color:white;margin-top:50px;text-shadow: 0 1px 5px rgba(0,0,0,0.5);">We exist to proclaim the gospel of Jesus Christ by educating and equipping His church to start and excel in small business.</h3>
            <center>
            <a class="btn btn-secondary" href="users/sign_up" style="position:relative;left:-200px;margin-top:20px;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Get Started</a>
            </center>
        </div>
    </div>
</div>

<div class="row" style="padding-top:50px;padding-bottom:50px;background-color:#eee;margin:0;margin-top:-30px;">
    <center>
    <h2>WELCOME TO A BETTER APPROACH</h2>
    <h3 style="max-width:50%;">A 10-week entrepreneurship course designed to fit into your school plan for the year or semester. The course was created by a homeschool graduate who saw the need for an affordable, high-quality entrepreneurship course that could count for school credit. It combines first-hand business experience with exclusive interviews featuring successful Christian businessmen from a handful of varying industries. This wealth of information creates a high-leverage learning program that will equip you to begin in business or grow your current business more. </h3>
    </center>
</div>

<div class="row">
    <div class="container" style="margin-top:50px;">
    <div class="col-md-6" style="margin-top:50px;">
        <h2>IT'S COMPATIBLE</h2>
        <h3 style="max-width:445px;">Learn wherever you have an internet connection. Our course was specifically designed to be mobile-friendly, so you can learn wherever and whenever you want.<br><br>Try to make it very clear for the people browsing the page that this product will enrich their life and will make a nice addition to the homescreen.</h3></h3>
    </div>
    <div class="col-md-5 col-md-1-offset hidden-xs">
        <img src="/mac.png" style="height:600px;" />
    </div>
    </div>
</div>


    <div style="position:relative;top:50px;">
        <div class="container">
            <center>
            <h2>FEATURES</h2>
            
            <div class="row" style="margin-top:40px;margin-bottom:50px;">
                <div class="col-md-4">
                    <div class= "card">
                        <i class="glyphicon glyphicon-th" style="width:85px;height:85px;color:#e27b7b;font-size:63px;"></i>
                        <h3>Online Course Learning</h3>
                        <p>All appointments sync with your Google calendar so your availability is always up to date. See your schedule at a glance from any device.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class= "card">
                        <i class="glyphicon glyphicon-th" style="width:85px;height:85px;color:#e27b7b;font-size:63px;"></i>
                        <h3>Online Course Learning</h3>
                        <p>All appointments sync with your Google calendar so your availability is always up to date. See your schedule at a glance from any device.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class= "card">
                        <i class="glyphicon glyphicon-th" style="width:85px;height:85px;color:#e27b7b;font-size:63px;"></i>
                        <h3>Online Course Learning</h3>
                        <p>All appointments sync with your Google calendar so your availability is always up to date. See your schedule at a glance from any device.</p>
                    </div>
                </div>
            </div>
        </center>
        </div>
    </div>

<div class="row" style="padding-top:50px;padding-bottom:50px;background-color:#eee;margin:0;margin-top:30px;">
    <center>
    <h2>STILL HAVE QUESTIONS?</h2>
    <h3 style="max-width:50%;">Build customer confidence by listing your users! Anyone who has used your service and has been pleased with it should have a place here! From Fortune 500 to start-ups, all your app enthusiasts will be glad to be featured in this section. Moreover, users will feel confident seing someone vouching for your product!</h3>
    <a href="" class="btn btn-primary" style="margin-top:20px;">CONTACT US</a>
    </center>
</div>



<%= render "/components/footer" %>
</div>