<div class="row halfraised" style="background-color:white;margin:100px;padding:50px">
        <center>
                    <div class="gtag" style="margin:30px;background-color:#f55a58"><h3 style="color:white;font-size:22px;line-height:2.5"><span class="glyphicon glyphicon-remove"></span></h3></div>
            <h1>Account Temporarily Disabled</h1>
            <h4 style="margin:40px;line-height:30px">Your account has been temporarily disabled by our moderators. More than likely, this is because there has been an issue processing your payment information. You have been sent an email with instructions on how to reinstate your account. Please check your Inbox and Spam/Junk folder and follow the listed instructions in that message. We apologize for this inconvenience and look forward to reinstating your account.</h4>
        </center>
    </div>