<% if current_user %>
<script>
  window.location="/home"
</script>
<% end %>

<style>
  .navbar{
    background:none;
    width:90%;
    margin-left:5%;
    height:100px;
    border-bottom:1px solid #e4e4e4;
  }
  
  .container > .navbar-collapse{
    background:none;
  }
  
  .navbar-default .navbar-nav > li > a {
    background:none;
    margin-top:17px;
    font-size:1.05em;
    font-weight:900;
    letter-spacing:2px;
  }
  
  .navbar-default .navbar-right > li > a:hover, .navbar-default .navbar-right > li > a:focus{
    color:white;
    margin-top:12px;
  }

li:hover{
  color:white;
}

.navbar-right{
  margin-top:-10px;
}
</style>


<nav class="navbar navbar-default">
      <a class="navbar-brand" href="/"><img src="/512_White_Tagline.png" id="topImg" style="margin-top:-10px; height:70px;margin-left:-0px;" /></a>
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
   <ul class="nav navbar-nav navbar-left">
        <li><a href="/secure/enroll" style="color:#949191;background:aliceblue;margin-left:0px;font-size: 1.2em;/* height:  120%; */padding: 20px;margin-top: 10px;">ENROLL</a></li>
        
      </ul>
      </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="margin-top:-60px;">
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/faq">FAQ</a></li>
        <li><a href="mailto:1-2-3 Entrepreneur! <info@my1040academy.com>">CONTACT</a></li>
        <li><a href="/secure/signin" style="color:#fff;border:1px solid white;background:none;margin-left:20px;margin-top:14px;">SIGN IN</a></li>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>